.markdown-container {
    background-color: whitesmoke;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin: auto;
}

.markdown-post {
    width: 90%;
    margin-left: 40px;
    margin-right: 20px;
}
.post__item{
    display: flex;
    height: 100px;
    margin-left: 10%;
    align-items: center;
    justify-content: left;
    margin-top: 30px ;
}
.description {
    margin-left: 30px;
}
.date {
    margin-left: 40px;
}
.ul_item {
    list-style-type: none;
}
  .post__item__link {
    text-decoration: none;
    font-size: 3rem;
  }
@media screen and (max-width: 960px) {
    .markdown-post {
        position: relative;
        width: 90%;
        margin-left: 40px;
        margin-right: 20px;
    }
}