* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.whoami {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /* background-image: url('${process.env.PUBLIC_URL} + /images/img-9.jpg}');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  color: red;
  font-size: 100px;
}

.products {
  background-image: url('/src/components/pages/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.whoami {
  background-image: url('/src/components/pages/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}
